@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--darkBlue: #00425f;
	--secondaryBlue: #479fc8;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-darkBlue: var(--darkBlue);
	--color-secondaryBlue: var(--secondaryBlue);
}

body {
	background: var(--background);
	color: var(--foreground);
}
